src/main/resources/fruits.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.jithset.github.io/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FruitWebServiceService" targetNamespace="http://webservice.jithset.github.io/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.jithset.github.io/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.jithset.github.io/" version="1.0">
            <xs:element name="fruit" type="tns:Fruit"/>
            <xs:complexType name="Fruit">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="list" type="tns:list"/>
            <xs:complexType name="list">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="listResponse" type="tns:listResponse"/>
            <xs:complexType name="listResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Fruit"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="delete" type="tns:delete"/>
            <xs:complexType name="delete">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:Fruit"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deleteResponse" type="tns:deleteResponse"/>
            <xs:complexType name="deleteResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Fruit"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="add" type="tns:add"/>
            <xs:complexType name="add">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="tns:Fruit"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addResponse" type="tns:addResponse"/>
            <xs:complexType name="addResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Fruit"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addResponse">
        <wsdl:part element="tns:addResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteResponse">
        <wsdl:part element="tns:deleteResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="add">
        <wsdl:part element="tns:add" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listResponse">
        <wsdl:part element="tns:listResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="list">
        <wsdl:part element="tns:list" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete">
        <wsdl:part element="tns:delete" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FruitWebService">
        <wsdl:operation name="list">
            <wsdl:input message="tns:list" name="list"> </wsdl:input>
            <wsdl:output message="tns:listResponse" name="listResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:delete" name="delete"> </wsdl:input>
            <wsdl:output message="tns:deleteResponse" name="deleteResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="add">
            <wsdl:input message="tns:add" name="add"> </wsdl:input>
            <wsdl:output message="tns:addResponse" name="addResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FruitWebServiceServiceSoapBinding" type="tns:FruitWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="list">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="list">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="delete">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="add">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="add">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FruitWebServiceService">
        <wsdl:port binding="tns:FruitWebServiceServiceSoapBinding" name="FruitWebServicePort">
            <soap:address location="http://localhost:8080/cxf/fruit?wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>